<div class="col-sm-4 col-sm-offset-1 hidden-xs">

  <ul>
    <li>
      Intente ser lo más descriptivo posible para que la gente sepa de qué trata el proyecto y se anime a participar en él
    </li>
    <li>
      Añada las imágenes al final del proyecto. De no añadir imágenes aparecerá una por defecto pero eso lo hará menos atractivo.
    </li>
    <li>
      A partir de la fecha de <em>fin de aportaciones</em> el proyecto se considerará cerrado y nadie podrá colaborar ni inscribirse
      como voluntario.
    </li>
    <li>
      La <em> descripción corta</em> solo aparecerá en la página principal, la <em>descripción larga </em>en la descripción del proyecto.
    </li>
  </ul>
  <blockquote>
    No abuse de los estilos. La aplicación está hecha para que se vea bien con el tamaño de letra y colores por
    defecto, cambiarlos puede afectar a su visualización.
  </blockquote>
</div>