<% provide(:title, 'Proyectos') %>

<h2>Proyectos</h2>

<% if signed_in? && current_user.admin? %>
    <%= button_to "Nuevo proyecto", new_proyecto_path, :method => "get" %>
<% end %>

<div>
  <%= render @proyectos %>
</div>

<%= will_paginate %>