<% provide(:title, '¿Quiénes somos?') %>

<h1><%= yield(:title) %></h1>
<p>
  MICROFINANCIACIONES es una iniciativa de financiación colectiva (aportaciones
  monetarias) y colaboración distribuida (servicios, infraestructuras, micro-tareas y otros
  recursos) que la Fundación Universitaria San Pablo CEU y la Asociación Católica de
  Propagandistas promueve para impulsar la financiación de programas de cooperación al
  desarrollo, tanto en España como en otros países, que contribuyan al desarrollo del bien
  común, a la construcción de una sociedad más justa y solidaria, como queda reflejado en el
  ideario constitucional del CEU.
</p>
<p>
  Una plataforma para la financiación de proyectos cuyos fines sean de carácter social,
  cultural, científico, educativo, tecnológico o ecológico, que generen nuevas oportunidades
  para la mejora constante de la sociedad y el enriquecimiento de los bienes y recursos
  comunes.
</p>
<p>
  Como institución abierta al exterior, el CEU se encuentra firmemente comprometido en
  lograr, mediante la formación y la investigación permanentes, un mayor progreso social,
  cultural y económico, una mejora en la empleabilidad, y, en definitiva, una sociedad más
  justa y solidaria, en la que tengan cabida los colectivos más desfavorecidos y en la que
  todas las personas tengan las mismas oportunidades. Los proyectos que se financien
  deberán estar en consonancia con este ideario.
</p>
<blockquote>
  <p>
    Se basa en el crowdfunding, una forma directa de financiar proyectos con la suma de
    aportaciones individuales.
  </p>
</blockquote>