<% provide(:title, 'Sobre las cookies') %>
<ol class="breadcrumb breadcum-title">Sobre las cookies</ol>
<p><h3>¿Qué son las cookies?</h3></p>
<p>Las cookies son pequeños archivos de datos que se reciben en el terminal desde el sitio Web visitado y se usan para
  registrar ciertas interacciones de la navegación en un sitio Web almacenando datos que podrán ser actualizados y
  recuperados. Estos archivos se almacenan en el ordenador del usuario y contiene datos anónimos que no son
  perjudiciales para su equipo. Se utilizan para recordar las preferencias del usuario, como el idioma seleccionado,
  datos de acceso o personalización de la página.
  <br/>
  Las cookies también pueden ser utilizadas para registrar información anónima acerca de cómo un visitante utiliza un
  sitio. Por ejemplo, desde qué página Web ha accedido, o si ha utilizado un "banner" publicitario para llegar.</p>
<hr/>
<p><h3>¿Por qué Microfinanciaciones CEU utiliza cookies?</h3></p>
<p>
  Microfinanciaciones CEU utiliza cookies estrictamente necesarias y esenciales para que usted utilice nuestros sitios
  Web y le
  permitan moverse libremente, utilizar áreas seguras, opciones personalizadas, etc. Además, Microfinanciaciones CEU
  utiliza cookies
  que recogen datos relativos al análisis de uso de la Web. Éstas se utilizan para ayudar a mejorar el servicio al
  usuario, midiendo el uso y el rendimiento de la página, para optimizarla y personalizarla.
  <br/>
  Nuestros sitios también pueden tener enlaces de redes sociales (como Facebook o Twitter). Microfinanciaciones no
  controla las
  cookies utilizadas por estas Web externas. Para más información sobre las cookies de las redes sociales u otras Webs
  ajenas, aconsejamos revisar sus propias políticas de cookies.
</p>
<hr/>
<p><h3>¿Y si no quiero tener estas cookies o no hago nada al respecto?</h3></p>
<p>
  Para cumplir con la legislación vigente, tenemos que pedir su permiso para gestionar cookies. Si decide no autorizar
  el tratamiento indicándonos su no conformidad, sólo usaríamos las cookies técnicas, puesto que son imprescindibles
  para la navegación por nuestra Web. En este caso, no almacenaríamos ninguna cookie. En el caso de seguir navegando por
  nuestro sitio Web sin denegar su autorización implica que acepta su uso.
  <br/>
  Tenga en cuenta que si rechaza o borra las cookies de navegación, no podremos mantener sus preferencias, algunas
  características de las páginas no estarán operativas, no podremos ofrecerle servicios personalizados y cada vez que
  vaya a navegar por nuestra Web tendremos que solicitarle de nuevo su autorización para el uso de cookies.
  <br/>
  Si aún así, decide modificar la configuración de su acceso a la página Web, debe saber que es posible eliminar las
  cookies o impedir que se registre esta información en su equipo en cualquier momento mediante la modificación de los
  parámetros de configuración de su navegador.
  </ul>
</p>
<hr/>
<p><h3>Entonces, ¿qué significa la información anterior?</h3></p>
<p>
  Si acepta nuestras cookies, nos permite la mejora de la web de Microfinanciaciones para ofrecerle un acceso óptimo y
  darle un
  servicio más eficaz y personalizado.
  <br/>
  Además, usted puede configurar su navegador para establecer que sólo los sitios Web de confianza o las páginas por las
  que está navegando en este momento puedan gestionar cookies lo que le permite seleccionar sus preferencias.
  <br/>
  Proporcionando esta política, Microfinanciaciones demuestra el compromiso adquirido con la legislación vigente sobre
  el uso de
  cookies, proporcionándole información para que usted pueda comprender qué tipo de cookies utilizamos y por qué lo
  hacemos. Con esto, pretendemos proporcionarle transparencia en cuanto a los datos tratados acerca de la navegación
  realizada desde su equipo en nuestra Web.
  <br/>
  Esta política se revisa periódicamente para asegurar su vigencia, por lo que puede ser modificada. Le recomendamos que
  visite la página con regularidad donde le informaremos de cualquier actualización al respecto.
</p>
<hr/>
<p><h3>¿Y si no quiero tener estas cookies o no hago nada al respecto?</h3></p>
<p>
  Para cumplir con la legislación vigente, tenemos que pedir su permiso para gestionar cookies. Si decide no autorizar
  el tratamiento indicándonos su no conformidad, sólo usaríamos las cookies técnicas, puesto que son imprescindibles
  para la navegación por nuestra Web. En este caso, no almacenaríamos ninguna cookie. En el caso de seguir navegando por
  nuestro sitio Web sin denegar su autorización implica que acepta su uso.
  <br/>
  Tenga en cuenta que si rechaza o borra las cookies de navegación, no podremos mantener sus preferencias, algunas
  características de las páginas no estarán operativas, no podremos ofrecerle servicios personalizados y cada vez que
  vaya a navegar por nuestra Web tendremos que solicitarle de nuevo su autorización para el uso de cookies.
  Si aún así, decide modificar la configuración de su acceso a la página Web, debe saber que es posible eliminar las
  cookies o impedir que se registre esta información en su equipo en cualquier momento mediante la modificación de los
  parámetros de configuración de su navegador.
</p>