<% provide(:title, 'Ayuda') %>

<h2>¿Cómo funciona?</h2>
<p>
  Cada proyecto tiene un objetivo de financiación, establecido por la persona que lo ha
  propuesto (con la posible corrección de un experto de la FUSP o la ACdP), y un plazo
  para conseguirlo. Finalizado el plazo existen dos posibilidades:
<ul>
  <li>Que no se haya recaudado el 100% del objetivo de financiación. En este caso
    la FUSP y la ACdP podrán buscar algún tipo de financiación externa o se podrá
    ampliar el plazo.
  </li>
  <li>
    Que se haya llegado o superado el 100% del objetivo de financiación. En
    este caso se realiza el cargo en tarjeta de los compromisos de aportación y el
    proyecto recibe el dinero recaudado.
  </li>
</ul>
</p>
<p>
  Cuando se marca una determinada cantidad como objetivo de financiación para su
  proyecto, es porque necesita exactamente esa cantidad para llevarlo a cabo. Sería difícil
  llevarlo a cabo con tan sólo un 60%, por ejemplo, y tener que satisfacer las expectativas
  de los donantes, que esperan que se lleve a cabo como si se hubiera recaudado el
  100%. Si un proyecto consigue el 100% del presupuesto antes de los 3 meses, la
  cantidad que se siga aportando se podrá destinar a cubrir otros proyectos que no hayan
  conseguido el 100% de la financiación, notificando esta eventualidad en la página de
  MICROFINANCIACIONES a los donantes del proyecto con superávit.
</p>
<h2>¿Cómo se hacen las aportaciones?</h2>
<p>
  En la página principal, los donantes podrán hacer su aportación pinchando en “PUEDO
  COLABORAR” y, una vez allí, en “HACER EL DONATIVO”. Las aportaciones pueden
  estar entre los 5€ y los 5000€.
</p>
<p>
  Los donantes hacen sus compromisos de aportación mediante tarjeta de crédito
  utilizando la pasarela de pago de XXXXXXXXXXXXX Catalunya Caixa.
  Todo el proceso se realiza a través de una pasarela de pago de XXXXXX Catalunya Caixa.
  La FUSP no tiene acceso a los datos bancarios de los donantes. Cuando el proyecto
  alcance el 100% del objetivo de financiación, se realizará una transferencia bancaria a la
  entidad que esté detrás del proyecto.
</p>
<p>
  Cuando termina el plazo de financiación de un proyecto, el donante recibe un correo
  electrónico para informarle de ello, tanto si se ha alcanzado el 100% de la financiación
  como si no. También recibe un correo electrónico con la confirmación de que se ha
  realizado el cargo en su tarjeta.
</p>
<p>
  Cuando un proyecto acaba con éxito y se hacen efectivas las aportaciones de los
  mecenas, el banco carga una comisión de entre 1.30% y 1.45% de procesamiento de
  pago por cada tarjeta. Esta comisión va a cargo de xxxxxx y hay que tenerla en cuenta a
  la hora de calcular su objetivo de financiación.
  Los donantes podrán solicitar, si así lo desean, un certificado de donación para
  presentar en la Declaración de la Renta de las Personas Físicas”.
</p>