<div class="jumbotron">
  <h1>MicroFinanciaciones CEU</h1>
</div>
<h2>
  Bienvenido a las MicroFinanciaciones

  <% if user_signed_in? %>
      <%= current_user.email %></h2>
  <% else %>
      </h2><%= link_to "Regístrese ahora!", new_user_registration_path, class: "btn btn-large btn-primary" %>
  <% end %>
