<% provide(:title, 'Proyectos') %>


<% if session_cart.sub_total > 0 %>
      <li><b>Carrito</b></li>
      <% session_cart.valid_cart_items.each do |ci| %>
          <li>
            <div class="alert alert-success">
              <%= ci.proyecto.titulo %>
              <%= ci.aportacion %> &euro;
            </div>
          </li>
      <% end %>
      <li>
        <b>Total carrito</b>
        <b><%= session_cart.sub_total %> &euro;</b>
      </li>
      <li>
        <%= link_to 'Pagar con Paypal', express_new_order_path, id: 'btn_pagar', class: 'btn btn-primary' %>
      </li>
  <% else %>
      <li>
        <div class="alert alert-info">Carrito vacío, realice algúna aportación.</div>
      </li>
  <% end %>