
$('#modal_contact_form').modal('hide')
$('#suggest_title').val('')
$('#suggest_suggestion').val('')
$('#advise-container').hide()
$('#advise-container').html('<div class="alert alert-success alert-dismissable">Muchas gracias, atenderemos su solicitud lo antes posible!' +
        '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button></div>')
$('#advise-container').fadeIn('slow');