<!--TODO maquetar emails-->
<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<p>
  Para cambiar su contrase침a en el portal Microfinanciaciones CEU entre en el siguiente el
  siguiente link:
  <br>
  <%= edit_password_resset_url(@user.password_reset_token) %>
</p>

<p>
  Si usted no ha solicitado un cambio de contrase침a, por favor ignore este email y su contrase침a no ser치 cambiada.
</p>

<p>
  Muchas gracias.
</p>
</body>
</html>