<div class="col-sm-4 col-sm-offset-1 hidden-xs">

  <ul>
    <li>
      Intente ser lo más descriptivo posible para que la gente ajena a este proyecto sea partícipe de todo lo que se
      está haciendo.
    </li>
    <li>
      Puede añadir imágenes que acompañen al artículo.
    </li>
    <li>
      El artículo podrá ser visto una vez sea aprobado por un administrador.
    </li>
  </ul>
  <blockquote>
    No abuse de los estilos. La aplicación está hecha para que se vea bien con el tamaño de letra y colores por
    defecto, cambiarlos puede afectar a su visualización.
  </blockquote>
</div>