<% if signed_in? %>
    <div id="volunteer_form_<%= proyecto.id %>">
      <% if !current_user.is_volunteer?(proyecto) %>
          <%= render 'users/make_volunteer', proyecto: proyecto %>
      <% else %>
          <%= render 'users/not_volunteer', proyecto: proyecto %>
      <% end %>
    </div>
<% else %>
    <button class='btn btn-primary btn-xs hidden-xs btn-block' data-toggle="dropdown" data-target="#dropdown-login">Inscríbete</button>
    <div class="text-primary small visible-xs">Inicie sesión para inscribirse</div>
<% end %>
