$('tr#user_<%= @user.id %>').addClass('danger')
$('#advise-container').html('<div class="alert alert-success alert-dismissable">Usuario borrado' +
        '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button></div>')