<% provide(:title, 'Usuarios') %>

<h2>Usuarios</h2>

<% if signed_in? && current_user.admin? %>
    <%= link_to "Nuevo usuario", new_user_path, class:'btn btn-default' %>
<% end %>

<div>
  <%= render @users %>
</div>

<%= will_paginate %>