<% provide(:title, 'Editar Perfil') %>


<ol class="breadcrumb breadcum-title">Perfil de usuario</ol>


<div class="col-sm-9 col-xs-12">
  <div class="panel panel-default">
    <div class="panel-body">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#profile" data-toggle="tab">Perfil</a></li>
        <li><a href="#edit_profile" data-toggle="tab">Editar Perfil</a></li>
        <li><a href="#password" data-toggle="tab">Cambiar contraseña</a></li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane fade in active" id="profile">
          <div id="profile_content" class="panel panel-default margin-top-sm">
            <div class="panel-body">
              <%= render 'show_perfilUsuario' %>
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="edit_profile">
          <div id="edit_profile_content" class="panel panel-default margin-top-sm">
            <div class="panel-body">
              <%= render 'show_editarPerfilUsuario' %>
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="password">
          <div id="password_content" class="panel panel-default margin-top-sm">
            <div class="panel-body">
              <%= render 'show_changePassword' %>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="col-sm-3 hidden-xs">
  <br>
  <blockquote>
    <p>
      Aquí puedes consultar y modificar la información de usuario.
    </p>
  </blockquote>
</div>