<div id="alert_success" class="alert alert-success alert-dismissable hidden">
  <button type="button" class="close close_alert" aria-hidden="true">&times;</button>
  <div id="alert_success_text"></div>
</div>