@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Ubuntu);

@font-face {
  font-family: 'Museo500-Regular';
  src: url(font_path('Museo500-Regular-webfont.eot') + '?#iefix') format('embedded-opentype'), url(font_path('Museo500-Regular-webfont.woff')) format('woff'), url(font_path('Museo500-Regular-webfont.ttf')) format('truetype'), url(font_path('Museo500-Regular-webfont.svg') + '#MuseoSans_500') format('svg');
}

body {
  padding-top: 50px;
  min-width: 405px;
  font-family: "Museo500-Regular", Helvetica, Arial, sans-serif;
}

.navbar-brand {
  padding: 10px;
}

.dropdown-menu-md {
  //Estilos dropdown menú carrito
  min-width: 270px;
}

.dropdown-form {
  //Estilos formulario de login
  min-width: 342px;
  width: 100% !important;
  padding: 25px 40px 10px 40px;
}

#cart-modal-menu{
  min-width: 300px;
  padding-left: 20px;
  padding-right: 20px;
}

.dropdown .alert {
  margin: 15px;
}

.navbar-default {
  font-family: "Museo500-Regular", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
}

.navbar-default .navbar-nav > li > a {
  color: #4D5157;

  .badge {
    background-color: #00aeef;
  }
}

.bold {
  font-weight: bold;
}

.large{
  font-size: $font-size-large;
}

//
//.navbar-inverse .navbar-nav, .navbar-inverse .navbar-brand {
//  li {
//    a {
//      color: #66757f;
//      &:hover{
//        color: #0084B4;
//        border-bottom-color: #0084B4;
//        border-bottom-width: 3px;
//      }
//    }
//  }
//}

//
//navbar-inverse .navbar-nav > li > a {
//  font-weight: bold;
//}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Ubuntu', sans-serif;
}

//Estilos para reducir el tamaño del jumbotron
.jumbotron {
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: 5px;
}

.well-white {
  background-color: white;
}

.content {
  margin-top: 20px;
}

.margin-xxl {
  margin-bottom: 250px !important;
}

.margin-sm {
  margin-bottom: 20px;
}

.margin-xxs{
  margin-bottom: 3px;
}

.margin-xs{
  margin-bottom: 10px;
}

.margin-top-xs {
  margin-top: 10px;
}

.margin-top-sm {
  margin-top: 20px;
}

.anchor {
  display: block;
  position: relative;
  top: -35px;
  visibility: hidden;
}

select.date-select {
  width: auto;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  display: inline-block;
}

div.date.row {
  margin-left: 0px;
  margin-right: 0px;
}

.divMensajeValidacion {
  display: none;
}

#error_explanation_js {
  display: none;
}

select.select-for-search {
  width: 150px;
}

//Para centrar imagen del carousel
.carousel-inner > .item > img {
  margin: 0 auto;
}

tr[data-link] {
  cursor: pointer;
}

//TODO borrar
//.carousel-modal {
//  margin: 0 auto;
//  width: 350px;
//}

.progress-bar-extracollected {
  background-color: #9ad717;
}