@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Ubuntu);

body {
  padding-top: 50px;
}

.navbar-default {
  color: #66757f;
  font-weight: bold;

  #img-nav-bar {
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 5px;
    padding-left: 10px;
  }

  .badge{
    background-color: #00aeef;
  }
}


//
//.navbar-inverse .navbar-nav, .navbar-inverse .navbar-brand {
//  li {
//    a {
//      color: #66757f;
//      &:hover{
//        color: #0084B4;
//        border-bottom-color: #0084B4;
//        border-bottom-width: 3px;
//      }
//    }
//  }
//}

//
//navbar-inverse .navbar-nav > li > a {
//  font-weight: bold;
//}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Ubuntu', sans-serif;
}

//Estilos para reducir el tamaño del jumbotron
.jumbotron {
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: 5px;
}

.well-white{
  background-color: white;
}

.content{
  margin-top: 20px;
}

p {
  text-align: justify
}

select.date-select {
  width: auto;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  display: inline-block;
}

div.date.row {
  margin-left: 0px;
  margin-right: 0px;
}

.divMensajeValidacion {
  display: none;
}

#error_explanation_js {
  display: none;
}

select.select-for-search  {
  width: 150px;
}

//Para centrar imagen del carousel
.carousel-inner > .item > img {
  margin: 0 auto;
}