$verdeRecaudado: #5cb85c;
$azulBoton: #428bca;

.banner {
  position: relative;
  overflow: auto;
  margin: 0 auto
}

.banner li {
  list-style: none;
}

.banner ul li {
  float: left;
}

.zeropading {
  padding: 0px;
}

div.extracollected{
  border: 1px solid #5cb85c;
}

.proyectoHome {
  font-family: 'Ubuntu', sans-serif;
  border: 1px solid #00aeef;
  border-radius: 7px;
  margin: 5px;
  padding: 10px;
  background-color: #f7f7f7;
//  min-height: 560px;
  max-width: 400px;
  overflow: hidden;
  &:hover {
    background-color: #eeeeee;
    border-width: 2px;
    cursor: pointer;
  }
  #tituloProyecto {
    text-align: center;
  }
  .descripcionCorta {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .progress {
    width: 80%;
    float: left;
  }
  .cantidadTotal {
    width: 20%;
    text-align: center;
    float: left;
    color: #333333;
    font-weight: bold;
  }
  .finAportaciones {
    clear: both;
    font-size: 0.8em;
  }
  .social-buttons {
    margin-top: 15px;
  }

}

.cantidadForm {
  width: 270px;
}

/**********************************************************************************************/
.modal-title {
  text-align: center;
  color: #0084b4;
}

.modalProyecto {
  font-family: 'Ubuntu', sans-serif;
  .modal-dialog {
    max-width: 800px;
  }
  .modal-header {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .modal-body {
    padding-top: 10px;
    padding-bottom: 2px;
  }
  .modal-footer {
    border-top: 2px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    color: $azulBoton;
    vertical-align: bottom;

    #colaborarCon {
      float: left;
      margin-right: 5px;
      font-size: 0.95em;
      width: 52%;
    }
    #aportationInfo {
      width: 5%;
      float: left;
      margin-right: 20px;
    }

    #divSlider {
      width: 20%;
      float: left;
      margin-right: 5px;
    }

    #divAportar {
      float: left;
      margin-right: 5px;
    }
  }
  .progress {
    margin-top: 10px;
    margin: 5px;
  }

  .img-container {
    padding-bottom: 10px;
    .modal-img {
      max-width: 90%;
    }
  }



}

#modalRecaudado {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  color: $verdeRecaudado;
  width: 50%;
  float: left;
}

#modalQueda {
  text-align: right;
  width: 50%;
  float: left;
}
/**********************************************************************************************/
.formBusqueda {
  margin-top: 20px;
  input[type="text"] {
    width: 175px;
  }
}

/*********************************************************************************************/
.btn-delete-img-p {
  position: absolute;
  left: 215px;
  top: 10px;
}

.edit-project-img{
 padding-bottom: 5px;
}

.add-images{
  float: left;
}

.blue-letter{
  ont-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  color: $azulBoton;
}