// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron-background {
  background-image: url(vol1.JPG);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 600px;
  font-family: "Museo500-Regular", Helvetica, Arial, sans-serif;
  color: #fff;
  h1 {
    margin-top: 30px;
  }

  .advise-home {
    margin-top: -6px;
  }
}

.jumbotron-white {
  background-color: white;
  h1 {
    color: #7c8086;

  }
}

.breadcum-title{
  margin-top: 20px;
}



#zenbox_tab {
  cursor: pointer;
  position: fixed;
  top: 23%;
  z-index: 10000;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  display: block;
  background-color: rgb(255, 255, 255);
  left: -45px;
}

.ZenboxTabLeft {
  left: 0;
  background-position: right 0;
}

.btn-cuadrado {
  border-radius: 0px;
}