<div class="row">
  <%= link_to order_transaction.id.to_s + '.....', order_transaction %>
  <%= order_transaction.amount/100 %> &euro;
  <%= order_transaction.success %>
  <%= order_transaction.created_at %>
</div>