<% provide(:title, 'Detalle Transacción ' + @transaction.id.to_s) %>

<ol class="breadcrumb breadcum-title">Detalle Transacción <%= @transaction.id %></ol>

<div class="col-sm-7">
  <%= render @transaction %>
</div>
