<hr>
<footer class="container">
  <div class="col-xs-12">
    <p>
    <div class="col-sm-4">
      <%= link_to 'Información legal', legal_path %>
    </div>
    <div class="col-sm-4 small text-info">
      Microfinanciaciones by Antonio Aguilar
    </div>
    <div class="col-sm-4">
      <%= link_to image_tag("logo-fundacion-ceu.gif", alt: "Fundación Universitaria San Pablo CEU", class: "img-responsive"), 'http://www.ceu.es/' %>
    </div>
    </p>
  </div>
</footer>