<hr>
<footer class="container">
  <div class="col-xs-12">
    <p>

    <div class="col-sm-4">
      <%= link_to 'Información legal', legal_path %>
    </div>
    <div class="col-sm-4 small text-info">
      Microfinanciaciones by Antonio Aguilar
    </div>
    <div class="col-sm-4">
      <%= link_to image_tag("logo-fundacion-ceu.gif", alt: "Fundación Universitaria San Pablo CEU", class: "img-responsive"), 'http://www.ceu.es/' %>
    </div>
    </p>
  </div>
  <script>
      (function (i, s, o, g, r, a, m) {
          i['GoogleAnalyticsObject'] = r;
          i[r] = i[r] || function () {
              (i[r].q = i[r].q || []).push(arguments)
          }, i[r].l = 1 * new Date();
          a = s.createElement(o),
                  m = s.getElementsByTagName(o)[0];
          a.async = 1;
          a.src = g;
          m.parentNode.insertBefore(a, m)
      })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

      ga('create', 'UA-51769070-1', 'microfinanciacionesceu.herokuapp.com');
      ga('send', 'pageview');
      ga('require', 'displayfeatures');

  </script>
</footer>