<hr>
<footer>
  <p>
  <div class="col-md-4">
    <a href="http://railstutorial.org/">Microfinanciaciones</a>
    by Antonio Aguilar
  </div>
  <div class="col-md-4 col-md-offset-4">
    <%= link_to image_tag("logo-fundacion-ceu.gif", alt: "Fundación Universitaria San Pablo CEU",class:"img-responsive" ), 'http://www.ceu.es/'%>
  </div>
  </p>
</footer>