<hr>
<footer>
  <p>
  <div class="col-sm-4">
    Microfinanciaciones by Antonio Aguilar
  </div>
  <div class="col-sm-4 col-sm-offset-4">
    <%= link_to image_tag("logo-fundacion-ceu.gif", alt: "Fundación Universitaria San Pablo CEU",class:"img-responsive" ), 'http://www.ceu.es/'%>
  </div>
  </p>
</footer>