<footer class="footer">
  <small>
    <a href="http://railstutorial.org/">Microfinanciaciones</a>
    by Antonio Aguilar
  </small>
  <nav>
    <ul>
      <li><%= link_to "¿Quiénes somos?",   about_path %></li>
      <li><%= link_to "Contacte", contact_path %></li>
      <li><a href="www.uspceu.es">USP CEU</a></li>
    </ul>
  </nav>
</footer>