<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container-fluid">
      <%= link_to "MicroFinanciaciones CEU", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Página principal", root_path %></li>
          <li><%= link_to "Ayuda", help_path %></li>
          <li><%= link_to "Iniciar sesión", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>